<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Thank You!</title>
  </head>
  <body>
    <div class="container">
      <img src="../static/uclogo.png" alt="" class="logo" />
      <h1>Thank You!</h1>
      <h2>Thank you for your feedback.</h2>
    </div>
    <form action="/success" method="POST">
        <div class="container">
            <button type ="submit" class = "button button1" name="button1", value ="new_review">New review</button>
            <button type ="submit" class = "button button2" name="button2", value ="view_all">View all professors</button>
        </div>
    </form>
  </body>
</html>